<launch>

	<!--node pkg="text_to_speech" type="tts_google.py" name="text_to_speech_node" output="screen" /-->
	<node pkg="text_to_speech" type="tts_pico.py" name="text_to_speech_node" output="screen" />
	<!--node pkg="text_to_speech" type="tts_microsoft.py" name="text_to_speech_node" output="screen" /-->

</launch>
